{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forgot Password</title>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/login.css' %}" media="screen">
    <script class="u-script" type="text/javascript" src="{% static 'js/login.js' %}" defer=""></script>

</head>
<body>
<div class="container2">
    <h1>JUMPSTART</h1>
</div>
<div class="container">
    <form class="signUp" method="POST"> {% csrf_token %}
        <h3>Enter email to reset</br>Password !</h3>
        <p style="margin-top: 70px">
            {{ form.email }}
        </p>
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'error' %}
                    <h2 class="alert alert-{{ message.tags }}">{{ message }}</h2>
                {% else %}
                    <h2 class="alert alert-{{ message.tags }}">{{ message }}</h2>
                {% endif %}
            {% endfor %}
        {% endif %}
        <button class="form-btn sx log-in" type="button">reset</button>
        <button class="form-btn dx" type="submit">verify</button>
    </form>
    <form id='su' class="signIn" method="POST"> {% csrf_token %}
        {% if reset is None %}
            <h3>Please Verify your email</h3>
        {% else %}
            <h3>Reset<br>password</h3>
        {% endif %}
        <div style="margin-top: 15%">
            {{ reset.email }}
            {{ reset.password1 }}
            {{ reset.password2 }}
            {{ reset.password1.help_text }}
            {{ reset.email.help_text }}
        </div>
        <button class="form-btn sx back" type="button">Back</button>
        <button class="form-btn dx" type="submit">submit</button>
    </form>
</div>
</body>
</html>