{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/login.css' %}" media="screen">
    <script class="u-script" type="text/javascript" src="{% static 'js/login.js' %}" defer=""></script>
</head>
<body>
{% if messages %}
    {% for message in messages %}
        <p class="p-3 mb-2 bg-success text-dark">{{ message }}</p>
    {% endfor %}
{% endif %}
<div class="container">
    <h1>Welcome to JUMPSTART</h1>
    {% if user.is_authenticated %}
        <h2>{{ user.username }}</h2>
        <a href="{% url 'account_logout' %}">logout</a>
    {% else %}
        <h2>Please <a href="{% url 'login' %}">login</a> to enter</h2>
    {% endif %}
</div>
</div>
</body>
</html>